.add {
    position: absolute;
    top: calc(25% - 50px);
    left: calc(25% - 200px);
    height: 140px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}
.input[type=submit]{
    width: 100px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    margin-left: 320px;
}
.input[type=button]{
    width: 220px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    margin-left: 320px;
}
input[type=text] {
    width: 220px;
    height: 35px;
    background: #fff;
    border: 10px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-left: 100px;
}


